<nav class="navbar navbar-default navCustom">

  <%if(url.length > 0){%>
    <img class="logoBrand" src="<%=url[0].value%>" />
  <%}else{%>
    <img class="logoBrand" src="http://i.imgur.com/6bflQGQ.png" />
  <%}%>
  <%if(arr.length > 0){%>
    <ul class="nav nav-pills">
      <% for(var i = 0; i < arr.length; i++){%>
        <li><a class="navPillCustom" href="<%= arr[i].slug%>"><%= arr[i].title%></a></li>
      <%}%>
    </ul>
  <%}%>
</nav>

<style>

  .logoBrand, ul {
    display: inline-block;
  }
  <%if(styleArr.length > 0){%>
    <%for(var i = 0; i < styleArr.length; i++){%>
      .<%=styleArr[i].class%>{
        <%=styleArr[i].attribute%>:<%=styleArr[i].value%> !important
      }
    <%}%>
  <%}%>
</style>
