<nav class="navbar navbar-default navCustom">
  <div class="nav-wrapper">
    <div class="nav-cell">
      <div class="nav-cell-wrapper">
        <!-- Logo -->
        <%if(url.length > 0){%>
          <a class="logo-header" href="#">
            <img class="logoBrand" src="<%=url[0].value%>" />
          </a>
        <%}else{%>
          <a class="logo-header" href="#">
            <img class="logoBrand" src="http://i.imgur.com/351vaj3.png" />
          </a>
        <%}%>
        <!-- Navigation tabs -->
        <%if(arr.length > 0){%>
          <ul class="nav nav-pills nav-menu">
            <% for(var i = 0; i < arr.length; i++){%>
              <li class="menu-item">
                <a class="navPillCustom" href="<%= arr[i].slug%>">
                  <%= arr[i].title%>
                </a>
              </li>
            <%}%>
          </ul>
        <%}%>
      </div>
    </div>
  </div><!-- *nav-wrapper -->
</nav>

<style>

  .logoBrand, ul {
    display: inline-block;
  }
  <%if(styleArr.length > 0){%>
    <%for(var i = 0; i < styleArr.length; i++){%>
      .<%=styleArr[i].class%>{
        <%=styleArr[i].attribute%>:<%=styleArr[i].value%> !important
      }
    <%}%>
  <%}%>
</style>
