<div id="wrapper" class="toggled">

  <!-- Sidebar -->
  <% include ../partials/sidebar.ejs %>
  <!-- #sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid page-container">
      <!-- Header row -->
      <div class="row admin-header">
        <div class="col-lg-12">
          <!-- Header title -->
          <div class="header-title"><%= title %></div>
          <!-- Toggle button -->
          <a href="#menu-toggle" id="menu-toggle" class="btn header-btn">Toggle Sidebar</a>
          <!-- New page button -->
          <a href="/admin/pages/new" class="btn header-btn"><i class="fa fa-plus fa-fw"></i> New page</a>

        </div>
      </div>

      <!-- Content body row -->
      <div class="row pages-contentbody-container">
        <div class="col-lg-12">
          <!-- Confirm deletion Modal -->

          <%if(pageArr.length > 0){%>
            <%for(var i = 0; i < pageArr.length; i++){%>
              <div class="new-pages-row">
                <%=pageArr[i].title%>
                <a class="btn del-btn" data-toggle="modal" data-target="#confirmDel-modal<%=pageArr[i]._id%>">
                  <i class="fa fa-trash-o fa-fw"></i>
                  Delete
                </a>
                <a href="/admin/pages/<%=pageArr[i]._id%>"+ class="btn edit-btn">
                  <i class="fa fa-pencil-square-o fa-fw"></i>
                  Edit
                </a>
              </div>

            <!-- Confirm deletion Modal -->
            <div class="modal fade" id="confirmDel-modal<%=pageArr[i]._id%>" tabindex="-1" role="dialog" aria-labelledby="confirmDelModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <!-- Modal header -->
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="confirmDelModalLabel">Are you sure?</h4>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer text-center">
                    <form action="/admin/pages/<%=pageArr[i]._id%>?_method=DELETE" method="post">
                      <a class="btn confirm-no-btn" data-dismiss="modal">No, cancel</a>
                      <!-- Yes -->
                      <button type="submit" class="btn confirm-yes-btn" ><i class="fa fa-check fa-fw"></i>Yes, I'm sure</button>

                    </form>

                  </div>

                </div>
              </div>
            </div>
          <%}%>
          <%}else{%>
            <h4>No pages found</h4>
          <%}%>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
