<% include ./partials/navBar %>

<!-- Carousel -->
<% include ./partials/carousel %>

<!-- Main content -->
<div class="main">
  <!-- Title -->
  <div class="main-header">
    <h3><%= pageData.title %><span><%= pageData.text %></span></h3>
  </div>
  <!-- Thumbnail images grid -->
  <ul id="og-grid" class="og-grid">
    <!-- Each li stores 1 thumbnail -->
    <!-- All data-" " = elements inside expanded view -->
    <% if(allImgs.length>0){%>
      <% for(var i=0;i<allImgs.length;i++){%>
      <li>
    		<a data-largesrc="<%=allImgs[i].img_url%>" data-title="Love birds" data-description="She loved the sea. She liked the sharp salty smell of the air, and the vastness of the horizons bounded only by a vault of azure sky above. It made her feel small, but free as well.">
    			<img src="<%=allImgs[i].img_url%>" alt="img01"/>
    		</a>
    	</li>

    <%}%>
<%}%>
  </ul>

  <!-- add image link -->
  <div class="add-img-container">
    <a class="btn save-btn" href="/admin/pages/<%= pageData.id %>">
      <i class="fa fa-plus fa-fw"></i>add more images
    </a>
  </div>

</div>
